
[run]
source = adv_data_processing
omit =
    tests/*
    setup.py
    */site-packages/*
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError